@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

body {
  background: #222831;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}